/* removing default padding , margin  .. */
*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* declaring variable :color,fonts,... */
:root{
    --color-button:#fed903;
    --color-background: #f1f1f1;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --color-text:#000;
}
body{
    background: var(--color-background);
    font-family: var(--font-family);
}
#header{
    border:1px solid red;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
}
.logos{
    width:60%;
    padding-left:15px;
}
#header-img , #nav-bar{
    width:40%;

}
#nav-bar{
    height:fit-content
}

#nav-bar ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-bar ul li{
    list-style: none;
}
li .nav-link{
    text-decoration: unset;
    color:var(--color-text);
}