/* removing default padding , margin  .. */
*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* declaring variable :color,fonts,... */
:root{
    --color-button:#fed903;
    --color-background: #f1f1f1;
    --color-background2:#ddd;
    --font-family: Verdana, Geneva, Tahoma, sans-serif;
    --color-text:#000;
    --color-icon:#ff8c00;
}
body{
    background: var(--color-background);
    font-family: var(--font-family);
}
#header{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
}
.logos{
    width:60%;
    padding-left:15px;
}
#header-img , #nav-bar{
    width:40%;

}
#nav-bar{
    height:fit-content
}

#nav-bar ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-bar ul li{
    list-style: none;
}
li .nav-link{
    text-decoration: unset;
    color:var(--color-text);
}
main{
    width:100%;
}
#form-section{
    width:100%;
    padding:30px;
}
form{
    width:50%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:10px;
}
#form-section h2{
    text-align:center;
    font-size: 20px;
}
input{
    display:block;
    width:50%;
    padding:5px;
    margin:0 auto;
}
button{
    width:25%;
    padding:5px;
    margin: 0 auto;
    background: var(--color-button);
    border:none;
    border-radius:2px;
    font-size: 14px;
    font-weight: 900;
}
#description-container{   
    width:80%;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:20px;
}
section, #Copyrights{
    width:100%;
}
#features{
padding:20px;
}
#script{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#script #container{
    display: flex;
    gap:10px;
    
}
#icons{
    width:25%;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#icons:first-child{
    width:6%;
}
#icons svg{
    fill:var(--color-icon);
}
#descript{
    padding:20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#descript h3{
    font-size:24px;
    font-weight: 700;
}
#prices{
    width:100%;
    display: flex;
    justify-content: space-around;
}
#prices div{
    width:30%;
    border:1px solid var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 25px;
    
}
#prices #title{
    width:100%;
    padding:10px 0;
    background: var(--color-background2);
    border: none;
}
#title span{
    font-size: 16px;
    font-weight:bold;
}
#prices h2{
    font-weight: normal;
    margin:10px 0;
}
#prices ul{
    margin-bottom: 20px;
}
#prices ul li{
    list-style-type: none;
    margin:5px 0;
}
#prices button{
    width:30%;
    padding:10px;
    margin:15px 0;
    border-radius:2px;
    font-size: 16px;
    font-weight:lighter;
    text-transform: uppercase;
}
#Copyrights{
    padding:20px;
    background: var(--color-background2);
    
}
#Copyrights #menu,#Copyrights #copyright{
    display: flex;
    justify-content: flex-end;
}
#Copyrights #copyright{
    margin:10px 0;
    color: #313131;
}
#menu ul{
width:25%;
display:flex;
justify-content: space-between;
align-items: center;
}
#menu ul li{
    list-style-type: none;
    padding:5px;
    font-weight: 500;
}
